@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffb8;
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2c181;
}

.form-image img{
    width: 25rem;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.cad-button{
    display: flex;
    align-items: center;
}

.cad-button button{
    border: none;
    background-color: #f4bd61;
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
}

.cad-button button:hover{
    background-color: #f0ab50;
}

.cad-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #c78f49;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6 rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:focus-visible{
    outline: 1px solid #f0ab50;
}

.input-box label,
.categoria h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: black;
}

.input-box input::placeholder{
    color: #603600;
}

.categoria-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding:0 0.5rem;
}

.categoria-input{
    display: flex;
    align-items:center;
}

.categoria-input input{
    margin-right:0.35rem;
}

.categoria-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: black;
}